:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 10%;
  justify-content: flex-start;
}

header {
  display: flex;
  gap: 1rem;
}

h1 {
  margin: 0
}

header p {
  margin: 0
}

header ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
}

header ul li {
  padding: 0.25rem 0;
}

h1 + p {
  border-bottom: 2px solid;
  padding-bottom: 1rem;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

article header {
  min-width: 100%;
}

article section {
  max-width: max(20rem, 50%);
  min-width: max(20rem, 50%);
  box-sizing: border-box;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

article ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

article > header {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
}

section > header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

section h3 {
  margin: 0;
}

time {
  font-style: italic;
}

article {
  border-bottom: 1px dashed;
  padding-bottom: 1rem;
}

section > p:last-child {
  margin-bottom: 0;
}

*[data-emoji]::before {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 1ch;
  font-style: normal;
  content: attr(data-emoji);
}

.certifications {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.certifications li {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.certifications li * {
  margin: 0;
}

h3 a {
  font-weight: bold;
}
